<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="/savefeedback/" method="post">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td><input type="text" name="t1" placeholder="Name" required></td>
            </tr>
            <tr>
                <td><input type="number" name="t2" placeholder="Contact No" required></td>
            </tr>
            <tr>
                <td><textarea name="t3" placeholder="Message" required></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="Send"></td>
            </tr>
        </table>
    </form>

</body>
</html>